.connected-page{
    background : hsl(var(--clr-dark));
    &__container{
        height : 100%;
        max-width: 1200px;
        padding-inline: 1%;
        margin-inline : auto;
        @media(max-width:$screen-xl-min){
            max-width: 800px;
        }
        @media(max-width:500px){
            padding-inline: 0;
        }
    }
}

.homeContainer{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-height : 100vh;
    margin: auto;
    border :1px solid hsl(var(--clr-grey-light));
    border-top :0;
    border-bottom: 0;
    &>*:not(.no-padding){
        padding-inline: 15px;
    }
    .page-title{
        position : sticky;
        align-items: center;
        padding-block : 15px;
        top : 0px;
        z-index : 3;
        width :100%;
        overflow: hidden;
        text-overflow: ellipsis;
        background : hsl(var(--clr-dark),.8);
        backdrop-filter: blur(12px);
        a, a h1{
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &__back{
            cursor : pointer;
            display : grid;
            align-content: center;
            justify-content: center;
            width : 30px;
            min-width: 30px;
            height :30px;
            border-radius: 50%;
            svg{
                width : 20px;
                height :20px;
            }
            &:hover{
                background-color: hsl(var(--clr-grey-dark),.8);
            }
        }

    }
    @media(max-width:$screen-md-min){
        margin-left : 60px;
    }
    @media(max-width:500px){
        margin-inline : auto;
    }
}
