.nav{
    position : fixed;
    display : flex;
    flex-direction: column;
    max-width: 250px;
    a{
        height : 50px;
        width : min-content;
        align-items: center;
        padding: 5px 15px;
        
        div{
            height : 100%;
            display : grid;
            align-content: center;
            @media(max-width:$screen-xl-min){
                display : none;
            }
        }
        &:hover{
            border-radius : 25px;
            background-color: hsl(var(--clr-white),.1);
        }
    }
    svg{
        width :26px;
        height : 26px;
        @media(max-width:500px){
            width :18px;
            height : 18px;
        }
    }
    @media(max-width:500px){
        flex-direction: row;
        padding-block: 3px;
        --gap : 0;
        justify-content: space-evenly;
        align-items: center;
        bottom: 0;
        z-index :3;
        width: 100%;
        max-width: 100%;
        background-color: hsl(var(--clr-dark));
        a{
            height : 18px;
            --gap : 0;
            margin-top: 0;
            justify-items: center;
            padding: 0;
        }
    }
        
           
    
    
}