:root {
  /* colors */
  --clr-dark: 0, 0%, 0%;
  --clr-white: 200, 6.7%, 91.2%;
  --clr-grey-light: 210, 4.2%, 46.3%;
  --clr-grey-dark: 220, 12%, 9.8%;
  --clr-blue: 204, 87.6%, 52.7%;
  --clr-green: 160, 100%, 36.5%;
  --clr-pink: 332, 94.9%, 53.5%;
  --clr-navy: 206, 18.2%, 17.3%;
  /* font-sizes */
  --fs-900: 2.5rem;
  --fs-800: 1.5rem;
  --fs-700: 1.3rem;
  --fs-600: 1.1rem;
  --fs-500: 1rem;
  --fs-400: 0.9rem;
  --fs-300: 0.9rem;
  --fs-200: 0.875rem;
  /* font-families */
  --ff: Helvetica, Arial, sans-serif;
  --scrollbar-color: hsla(0,0%,100%,0.25);
  --scrollbar-bg: transparent;
}

@media (min-width: 576px) {
  :root {
    --fs-900: 4rem;
    --fs-800: 1.9rem;
  }
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

/* colors */
.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.bg-navy {
  background-color: hsl(var(--clr-navy));
}

.bg-blue {
  background-color: hsl(var(--clr-blue));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-light {
  color: hsl(var(--clr-grey-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

.text-blue {
  color: hsl(var(--clr-blue));
}

/* typography */
.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.fw-700 {
  font-weight: 700;
}

.fw-400 {
  font-weight: 400;
}

.ls-1-3 {
  letter-spacing: 1.3px;
}

.ls-0-7 {
  letter-spacing: 0.7px;
}

.lh-1-3 {
  line-height: 1.3;
}

/* -------- CSS reset ------------- */
/* https://piccalil.li/blog/a-modern-css-reset --> example of resets */
/* box sizing and reset margins */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* set up the body */
body {
  box-sizing: border-box;
  line-height: 1.5;
  min-height: 100vh;
  position: absolute;
  width: 100%;
  scrollbar-color: #3e4144 #16181c;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: var(--scrollbar-bg, auto);
}

::-webkit-scrollbar-corner {
  background-color: var(--scrollbar-bg, auto);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 2px auto;
  border: 2px solid var(--scrollbar-bg, auto);
  background: var(--scrollbar-color);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: hsl(var(--clr-white));
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* make img easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: var(--ff);
  color: hsl(var(--clr-white));
}

.tweet-btn {
  display: grid;
  height: 50px;
  justify-items: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 0 3px hsl(var(--clr-blue), 0.5);
}
.tweet-btn:hover {
  background: hsl(var(--clr-blue), 0.9);
}
.tweet-btn i {
  display: none;
}
@media (max-width: 1200px) {
  .tweet-btn p {
    display: none;
  }
  .tweet-btn i {
    display: block;
  }
}
@media (max-width: 500px) {
  .tweet-btn {
    margin-top: 0;
    height: 35px;
    aspect-ratio: 1;
  }
}

.basic-btn {
  cursor: pointer;
  display: grid;
  height: 36px;
  justify-items: center;
  align-items: center;
  border: 1px solid hsl(var(--clr-grey-light));
  cursor: pointer;
  border-radius: 18px;
  padding: 0 16px;
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
}
.basic-btn:hover {
  background: hsl(var(--clr-white), 0.1);
}
.basic-btn--white {
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  border-radius: none;
}
.basic-btn--white:hover {
  background: hsl(var(--clr-white), 0.9);
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: hsl(var(--clr-grey-dark), 0.8);
}
.modal__close {
  cursor: pointer;
  display: grid;
  align-content: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.modal__close svg {
  width: 20px;
  height: 20px;
}
.modal__close:hover {
  background-color: hsl(var(--clr-grey-dark), 0.8);
}
.modal__content {
  background-color: hsl(var(--clr-dark));
  border-radius: 20px;
  margin: 8% auto;
  padding: 20px;
  max-width: 800px;
}
@media (max-width: 768px) {
  .modal {
    background-color: hsl(var(--clr-dark), 1);
  }
  .modal__content {
    border-radius: 0;
    padding: 0 15px;
    margin: 0;
    width: 100%;
  }
}

.modal-comment .tweet {
  margin-bottom: 15px;
  position: relative;
}
.modal-comment .tweet::after {
  content: "";
  position: absolute;
  bottom: -12px;
  top: 50px;
  left: 24px;
  width: 2px;
  background-color: hsl(var(--clr-grey-light), 1);
}
.modal-comment .tweet__right__header {
  justify-content: flex-start;
}
.modal-comment .tweet__right__header__names > * {
  max-height: 25px;
  max-width: 28ch;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 768px) {
  .modal-comment .tweet__right__header__names > * {
    max-width: 20ch;
  }
}
@media (max-width: 576px) {
  .modal-comment .tweet__right__header__names > * {
    max-width: 17ch;
  }
}
@media (max-width: 500px) {
  .modal-comment .tweet__right__header__names > * {
    max-width: 9ch;
  }
}
@media (max-width: 390px) {
  .modal-comment .tweet__right__header__names > * {
    max-width: 6ch;
  }
}
.modal-comment .tweet__right__header__date {
  max-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.modal-infos__container {
  padding-block: 15px;
}
.modal-infos__container__link:hover::after {
  position: absolute;
  content: "";
  top: 0px;
  right: -20px;
  left: -20px;
  bottom: 0px;
  background-color: hsl(var(--clr-grey-light), 0.1);
}
@media (max-width: 768px) {
  .modal-infos__container__link:hover::after {
    right: -15px;
    left: -15px;
  }
}

.tweet__container {
  border-bottom: 1px solid hsl(var(--clr-grey-light));
  padding-block: 10px;
}

.tweet__retweet {
  width: max-content;
}
.tweet__retweet:hover p {
  text-decoration: underline;
}
.tweet__left {
  min-width: max-content;
  height: max-content;
}
.tweet__right {
  flex: 1 1 auto;
  max-width: 92%;
}
.tweet__right p {
  word-break: break-all;
}
.tweet__right__header {
  --gap: 0.5rem;
  justify-content: space-between;
}
.tweet__right__header__names a {
  max-height: 25px;
  max-width: 16ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tweet__right__header__names a:hover:first-child {
  text-decoration: underline;
}
@media (max-width: 576px) {
  .tweet__right__header__names a {
    max-width: 11ch;
  }
}
@media (max-width: 500px) {
  .tweet__right__header__names a {
    max-width: 8ch;
  }
}
@media (max-width: 350px) {
  .tweet__right__header__names a {
    max-width: 6ch;
  }
}
.tweet__right__header__date {
  max-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word;
}
.tweet__right__bot {
  --gap: 20%;
}
.tweet__content {
  padding-top: 10px;
  padding-bottom: 15px;
}
.tweet__content a {
  color: hsl(var(--clr-blue));
}
.tweet__content a:hover {
  text-decoration: underline;
}
.tweet__response-to {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tweet__response-to a {
  color: hsl(var(--clr-blue));
}
.tweet__response-to a:hover {
  text-decoration: underline;
}
.tweet__opt {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.tweet__opt__btn {
  min-width: 25px;
  width: 25px;
  height: 25px;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.tweet__opt__btn svg {
  width: 17px;
  height: 17px;
}
.tweet__opt__btn:hover {
  background-color: hsl(var(--clr-blue), 0.2);
  border-radius: 50%;
}
.tweet__opt__btn:hover path {
  fill: hsl(var(--clr-blue));
}
.tweet__opt p {
  position: relative;
  transform: translateX(calc(-100% + 25px));
  background-color: hsl(var(--clr-dark));
  box-shadow: 0 0 5px hsl(var(--clr-white), 0.5);
  border-radius: 5px;
  padding: 5px 10px;
  width: 15ch;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tweet__opt p:hover::before {
  content: "";
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(var(--clr-grey-light), 0.1);
}
.tweet__reacts {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.tweet__reacts__btn {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.tweet__reacts__btn .tweet__retweet {
  --gap: 0.8rem;
  align-items: center;
  justify-content: center;
}
.tweet__reacts__btn .tweet__retweet div {
  display: grid;
  align-content: center;
  justify-content: center;
}
.tweet__reacts__btn .tweet__retweet:hover div {
  position: relative;
}
.tweet__reacts__btn .tweet__retweet:hover div i {
  color: hsl(var(--clr-green));
}
.tweet__reacts__btn .tweet__retweet:hover div::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(1.8);
  border-radius: 50%;
  background-color: hsl(var(--clr-green), 0.2);
}
.tweet__reacts__btn .tweet__retweet:hover p {
  color: hsl(var(--clr-green));
  text-decoration: none;
}
.tweet__reacts__content {
  transform: translateX(calc(-100% + 40px)) translateY(calc(-100% + 30px));
  background-color: hsl(var(--clr-dark));
  box-shadow: 0 0 5px hsl(var(--clr-white), 0.5);
  border-radius: 5px;
  width: 25ch;
}
@media (max-width: 500px) {
  .tweet__reacts__content {
    --gap: 0.5rem;
    width: 17ch;
  }
}
.tweet__reacts__content div {
  align-items: center;
  border-radius: 5px;
  padding: 5px 10px;
  position: relative;
}
.tweet__reacts__content div:hover::before {
  content: "";
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(var(--clr-grey-light), 0.1);
}
.tweet__comments {
  position: relative;
  z-index: 1;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  --gap: 0.8rem;
}
.tweet__comments div {
  display: grid;
  align-content: center;
  justify-content: center;
}
.tweet__comments:hover div {
  position: relative;
}
.tweet__comments:hover div i {
  color: hsl(var(--clr-blue));
}
.tweet__comments:hover div::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleY(1.8) scaleX(2.2);
  border-radius: 50%;
  background-color: hsl(var(--clr-blue), 0.2);
}
.tweet__comments:hover p {
  color: hsl(var(--clr-blue));
  text-decoration: none;
}
.tweet__like {
  cursor: pointer;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: center;
  --gap: 0.8rem;
}
.tweet__like div {
  display: grid;
  align-content: center;
  justify-content: center;
}
.tweet__like:hover div {
  position: relative;
}
.tweet__like:hover div i {
  color: hsl(var(--clr-pink));
}
.tweet__like:hover div::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleY(1.8) scaleX(2.2);
  border-radius: 50%;
  background-color: hsl(var(--clr-pink), 0.2);
}
.tweet__like:hover p {
  color: hsl(var(--clr-pink));
  text-decoration: none;
}
.tweet__like[liked="1"] {
  color: hsl(var(--clr-pink));
}
.tweet__retweet[retweeted="1"] {
  color: hsl(var(--clr-green));
}
.tweet__link:hover::after {
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: hsl(var(--clr-grey-light), 0.1);
}

.quoted {
  border: 1px solid hsl(var(--clr-grey-light));
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
}
.quoted__container {
  position: relative;
}
.quoted__link:hover::before {
  position: absolute;
  content: "";
  top: -10px;
  right: -10px;
  left: -10px;
  bottom: -10px;
  border-radius: 10px;
  background-color: hsl(var(--clr-grey-light), 0.1);
}
.quoted__top {
  --gap: 0.5rem;
}
.quoted__top__names > * {
  max-height: 25px;
  max-width: 15ch;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 576px) {
  .quoted__top__names > * {
    max-width: 11ch;
  }
}
@media (max-width: 500px) {
  .quoted__top__names > * {
    max-width: 8ch;
  }
}
@media (max-width: 380px) {
  .quoted__top__names > * {
    max-width: 6ch;
  }
}
.quoted__top__date {
  max-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.tweet-profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tweet-profile__container {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.quoted-profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.quoted-profile__container {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
}

.tweet-img {
  border-radius: 10px;
}

.contenteditable {
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  border: none;
  resize: none;
  height: 110px;
  overflow: auto;
  padding: 5px;
  max-width: 100%;
  font-size: var(--fs-700);
}
.contenteditable:focus {
  border: none;
  outline: none;
}

.contenteditable:empty:before {
  content: attr(data-placeholder);
  color: hsl(var(--clr-grey-light));
}

.mentions {
  color: hsl(var(--clr-blue));
}

.text-mentions {
  background: black;
  width: max-content;
  border-radius: 10px;
  box-shadow: 0 0 15px hsl(var(--clr-grey-light));
  max-height: 500px;
  overflow: auto;
}
.text-mentions__container {
  display: none;
}
.text-mentions .mention-prop {
  padding: 1rem 1rem;
  cursor: pointer;
}
.text-mentions .mention-prop .mention-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-mentions .mention-prop .mention-img__container {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  overflow: hidden;
}
.text-mentions .mention-prop:hover {
  background: hsl(var(--clr-grey-dark));
}

.preview {
  position: relative;
}
.preview .close-preview {
  display: none;
  width: 30px;
  height: 30px;
  background: hsl(var(--clr-grey-dark), 0.8);
  backdrop-filter: blur(12px);
  border-radius: 15px;
  position: absolute;
  align-content: center;
  justify-content: center;
  left: 10px;
  top: 10px;
  cursor: pointer;
}
.preview .close-preview svg {
  width: 18px;
  height: 18px;
}
.preview .preview-input {
  display: none;
  border-radius: 15px;
}

.input-img {
  display: none;
}

.post-botom {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.post-botom .img-icon {
  cursor: pointer;
  margin-right: auto;
}
.post-botom .count-text {
  margin-right: 15px;
}
.post-botom .tweet-btn {
  height: 36px;
  border-radius: 18px;
  width: 90px;
}

.post-tweet__container {
  border-bottom: 1px solid hsl(var(--clr-grey-light));
}
.post-tweet__left {
  flex: 0 0 auto;
}
.post-tweet__right {
  flex: 1 1 auto;
  max-width: calc(95% - 50px);
}
@media (max-width: 500px) {
  .post-tweet__right {
    max-width: calc(90% - 50px);
  }
}
.post-tweet__right__top {
  border-bottom: 1px solid hsl(var(--clr-grey-light));
  width: 100%;
}
.post-tweet__right__top .contenteditable {
  height: 110px;
  margin-bottom: 10px;
}
.post-tweet__right__top .preview-input {
  margin-bottom: 10px;
}

.page-switch {
  --gap:0;
  justify-content: space-evenly;
}
.page-switch .active p {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 53px;
  color: hsl(var(--clr-white));
  font-weight: 700;
  border-bottom: 3px solid hsl(var(--clr-blue));
}
.page-switch a {
  height: 53px;
  display: grid;
  align-content: center;
  justify-content: center;
  flex: 1 1 auto;
  border-bottom: 1px solid hsl(var(--clr-grey-light));
}
.page-switch a:hover {
  background-color: hsl(var(--clr-grey-dark));
}

.nav {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}
.nav__container {
  top: 0;
  bottom: 0;
}
.nav .tweet-btn {
  padding-block: 5px;
}
.nav a {
  height: 50px;
  width: min-content;
  align-items: center;
  padding: 5px 15px;
}
.nav a div {
  height: 100%;
  display: grid;
  align-content: center;
}
@media (max-width: 1200px) {
  .nav a div {
    display: none;
  }
}
.nav a:hover {
  border-radius: 25px;
  background-color: hsl(var(--clr-white), 0.1);
}
.nav svg {
  width: 26px;
  height: 26px;
}
@media (max-width: 500px) {
  .nav svg {
    width: 18px;
    height: 18px;
  }
}
@media (max-width: 500px) {
  .nav {
    flex-direction: row;
    padding-block: 3px;
    --gap: 0;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
  }
  .nav__container {
    border-top: 1px solid hsl(var(--clr-grey-light));
    bottom: 0;
    left: 0;
    top: auto;
    background-color: hsl(var(--clr-dark));
    max-width: 100%;
    width: 100%;
    z-index: 3;
  }
  .nav a {
    height: 18px;
    --gap: 0;
    margin-top: 0;
    justify-items: center;
    padding: 0;
  }
}

.connected-page {
  background: hsl(var(--clr-dark));
}
.connected-page__container {
  height: 100%;
  max-width: 1200px;
  padding-inline: 1%;
  margin-inline: auto;
}
@media (max-width: 1200px) {
  .connected-page__container {
    max-width: 800px;
  }
}
@media (max-width: 700px) {
  .connected-page__container {
    padding-inline: 0;
  }
}

.homeContainer {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  min-height: 100vh;
  margin: auto;
  border: 1px solid hsl(var(--clr-grey-light));
  border-top: 0;
  border-bottom: 0;
}
.homeContainer > *:not(.no-padding) {
  padding-inline: 15px;
}
.homeContainer .page-title {
  position: sticky;
  align-items: center;
  padding-block: 15px;
  top: 0px;
  z-index: 3;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  background: hsl(var(--clr-dark), 0.8);
  backdrop-filter: blur(12px);
}
.homeContainer .page-title a, .homeContainer .page-title a h1 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.homeContainer .page-title__back {
  cursor: pointer;
  display: grid;
  align-content: center;
  justify-content: center;
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
}
.homeContainer .page-title__back svg {
  width: 20px;
  height: 20px;
}
.homeContainer .page-title__back:hover {
  background-color: hsl(var(--clr-grey-dark), 0.8);
}
@media (max-width: 768px) {
  .homeContainer {
    margin-left: 80px;
  }
}
@media (max-width: 700px) {
  .homeContainer {
    width: calc(100% - 80px);
  }
}
@media (max-width: 500px) {
  .homeContainer {
    margin: 0;
    margin-bottom: 42px;
    width: 100%;
    border: none;
  }
}

.error {
  color: red;
  margin-block: 10px;
}

.success {
  color: hsl(var(--clr-green));
  margin-block: 10px;
}
.success a {
  text-decoration: underline;
  color: hsl(var(--clr-green));
}

.reload-page {
  display: grid;
  justify-content: center;
  align-content: center;
  padding-block: 10px;
  border-bottom: 1px solid hsl(var(--clr-grey-light));
}

.profile__cover {
  height: 120px;
  width: 100%;
}
.profile__cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile__profile {
  justify-content: space-between;
  align-items: center;
}
.profile__profile__img {
  height: 133px;
  width: 133px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid hsl(var(--clr-dark));
  margin-top: -45px;
}
.profile__profile__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile__core__name {
  margin-block: 20px;
  overflow: hidden;
}
.profile__core__name p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.profile__core__bio {
  margin-bottom: 15px;
}
.profile__core__abos {
  margin-bottom: 15px;
}
.profile__core__abos p:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .profile-modal {
    padding: 15px;
  }
}
.profile-modal__header {
  justify-content: space-between;
}
.profile-modal__cover {
  width: 100%;
  height: 180px;
  position: relative;
  overflow: hidden;
}
.profile-modal__cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-modal__profile {
  width: 140px;
  height: 140px;
  position: relative;
  overflow: hidden;
  border: 2px solid hsl(var(--clr-grey-dark));
  border-radius: 50%;
  margin-top: -50px;
  margin-bottom: 15px;
}
.profile-modal__profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-modal__label {
  position: absolute;
  display: grid;
  align-content: center;
  justify-content: center;
  top: 50%;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: hsl(var(--clr-grey-dark), 0.8);
  cursor: pointer;
}
.profile-modal__label svg {
  width: 22px;
  height: 22px;
}
.profile-modal__inputs {
  flex-direction: column;
}
.profile-modal__inputs input, .profile-modal__inputs textarea {
  color: hsl(var(--clr-white), 0.9);
  border: 1px solid hsl(var(--clr-grey-light), 0.5);
  background-color: hsl(var(--clr-dark));
  border-radius: 5px;
  height: 56px;
  padding-inline: 8px;
}
.profile-modal__inputs input:focus, .profile-modal__inputs textarea:focus {
  border: 1px solid hsl(var(--clr-blue), 0.8);
  outline: solid 2px hsl(var(--clr-blue), 0.8);
}
.profile-modal__inputs .bio {
  height: 150px;
  padding-block: 8px;
}

.follow-page-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.follow-page-title p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.follow__container {
  padding-block: 20px;
}
.follow__container__link {
  cursor: pointer;
}
.follow__container__link:hover::after {
  position: absolute;
  content: "";
  top: 0px;
  right: -15px;
  left: -15px;
  bottom: 0px;
  background-color: hsl(var(--clr-grey-light), 0.1);
}
.follow__right {
  flex: 1;
}
.follow__right__header {
  justify-content: space-between;
}
.follow__right__header__names {
  max-width: 40ch;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 768px) {
  .follow__right__header__names {
    max-width: 30ch;
  }
}
@media (max-width: 576px) {
  .follow__right__header__names {
    max-width: 22ch;
  }
}
@media (max-width: 400px) {
  .follow__right__header__names {
    max-width: 15ch;
  }
}
.follow__right__header__names p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.follow__right__header__names a:hover {
  text-decoration: underline;
}

.settings {
  padding-block: 20px;
  flex-direction: column;
}
.settings input {
  background: none;
  border: 1px solid hsl(var(--clr-grey-light));
  padding: 8px;
  border-radius: 5px;
  color: hsl(var(--clr-white));
}
.settings input:focus {
  outline: 1px solid hsl(var(--clr-blue));
  border: 1px solid hsl(var(--clr-blue));
}
.settings .basic-btn {
  width: 50%;
  min-width: max-content;
  align-self: center;
}

.start {
  --gap: 0;
  flex-direction: column-reverse;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
}
@media (min-width: 992px) {
  .start {
    flex-direction: row;
  }
}
.start .content {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  background: hsl(var(--clr-dark));
  padding: min(3%, 5rem);
}
@media (min-width: 992px) {
  .start .content {
    min-width: 792px;
  }
}
.start .content .logo svg {
  max-width: 43px;
}
.start .content .title {
  max-width: 15ch;
}
.start .content p {
  margin-block: 1rem;
}
@media (max-width: 768px) {
  .start .content p {
    text-align: center;
    align-self: center;
  }
}
.start .cover {
  display: flex;
  justify-content: center;
  flex: 1 1 0%;
  background: url("../img/lohp_1302x955.png");
  background-size: cover;
}
.start .cover svg {
  max-width: 90%;
  width: 360px;
}
@media (max-width: 768px) {
  .start .cover svg {
    max-width: 70%;
  }
}

.start-buton {
  display: grid;
  width: 200px;
  margin-bottom: 1rem;
  align-self: center;
  height: 40px;
  justify-items: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 5px hsl(var(--clr-blue), 0.5);
}
@media (min-width: 768px) {
  .start-buton {
    width: 300px;
    align-self: auto;
  }
}
.start-buton--black {
  border: 1px solid hsl(var(--clr-grey-light));
  box-shadow: none;
  position: relative;
}
.start-buton--black:hover {
  background: hsl(var(--clr-blue), 0.2);
}
.start-buton--black:hover div {
  z-index: 2;
}
.start-buton--black:hover::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 20px;
  background: hsl(var(--clr-dark), 0.8);
}
.start-buton:hover {
  background: hsl(var(--clr-blue), 0.9);
}

.sign-page {
  height: 100vh;
  width: 100vw;
  padding-top: 15vh;
}
@media (max-width: 576px) {
  .sign-page {
    padding-top: 0;
  }
}
.sign-page a:hover {
  text-decoration: underline;
}

.sign-card {
  max-width: 600px;
  border-radius: 20px;
  max-height: 80vh;
  overflow-y: auto;
  margin-inline: auto;
}
.sign-card__topside {
  display: flex;
  padding: 10px 15px;
  margin-bottom: 1rem;
  width: 100%;
  justify-content: flex-start;
}
.sign-card__topside > * {
  display: grid;
  width: 50%;
}
.sign-card__topside > * path {
  fill: hsl(var(--clr-white), 0.9);
}
.sign-card__topside .back svg {
  width: 20px;
}
.sign-card__topside .logo {
  position: relative;
  transform: translateX(-15px);
}
.sign-card__topside .logo svg {
  width: 31px;
}
@media (max-width: 576px) {
  .sign-card {
    max-height: 100vh;
    height: 100%;
    border-radius: 0;
  }
}

.sign-form {
  display: flex;
  flex-direction: column;
}
.sign-form > * {
  width: 300px;
  margin: auto;
}
.sign-form > *:where(:not(:first-child)) {
  margin-top: 0.8rem;
}

.sign-buton {
  display: grid;
  height: 34px;
  justify-items: center;
  align-items: center;
  border-radius: 20px;
  border: none;
  margin-top: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.sign-input {
  color: hsl(var(--clr-white), 0.9);
  border: 1px solid hsl(var(--clr-grey-light), 0.5);
  border-radius: 5px;
  height: 56px;
  padding-inline: 8px;
}
.sign-input:focus {
  border: 1px solid hsl(var(--clr-blue), 0.8);
  outline: solid 2px hsl(var(--clr-blue), 0.8);
}

.sign-redirect {
  margin-bottom: 3rem;
}

.status-tweet-response {
  border-bottom: 1px solid hsl(var(--clr-grey-light));
}
.status-tweet-response .tweet__container {
  border-bottom: none;
}
.status-tweet-response .tweet__container:not(:last-child) {
  position: relative;
}
.status-tweet-response .tweet__container:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -6px;
  top: 60px;
  left: 24px;
  width: 2px;
  background-color: hsl(var(--clr-grey-light), 1);
}
.status-tweet-response .tweet__link:hover::after {
  right: -15px;
  left: -15px;
}

.tweet-status {
  flex-direction: column;
}
.tweet-status p {
  word-break: break-all;
}
.tweet-status__header {
  justify-content: space-between;
}
.tweet-status__header__names > * {
  max-height: 25px;
  max-width: 25ch;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tweet-status__header__names > *:hover:first-child {
  text-decoration: underline;
}
@media (max-width: 576px) {
  .tweet-status__header__names > * {
    max-width: 21ch;
  }
}
@media (max-width: 500px) {
  .tweet-status__header__names > * {
    max-width: 15ch;
  }
}
@media (max-width: 350px) {
  .tweet-status__header__names > * {
    max-width: 12ch;
  }
}
.tweet-status__core, .tweet-status__nbreacts {
  border-bottom: 1px solid hsl(var(--clr-grey-light));
  padding-bottom: 1rem;
}
.tweet-status__nbreacts button {
  background: none;
  border: none;
  z-index: 2;
  cursor: pointer;
}
.tweet-status__nbreacts button:hover {
  text-decoration: underline;
}
.tweet-status__reacts {
  justify-content: space-evenly;
  padding-bottom: 0.5rem;
}
.tweet-status__reacts i {
  font-size: 1.2rem;
}

.explore-block {
  margin-block: 10px;
  padding-inline: 15px;
  height: 50px;
  border-radius: 25px;
  align-items: center;
  width: 100%;
  max-width: 500px;
  background: hsl(var(--clr-grey-dark));
}
.explore-block__close {
  display: none;
  align-content: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: hsl(var(--clr-white));
}
.explore-block__close path {
  fill: hsl(var(--clr-dark));
}
.explore-block input {
  flex: 1;
  color: hsl(var(--clr-white));
  background: none;
  border: none;
}
.explore-block input:focus {
  outline: none;
}
.explore-block svg {
  width: 18px;
  height: 18px;
}

.notif {
  position: relative;
  align-items: center;
  padding-block: 15px;
}
.notif:hover::after {
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: hsl(var(--clr-grey-light), 0.1);
}
.notif__icon {
  font-size: 1.4rem;
}
.notif__right {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notif__right__bot {
  margin-top: 10px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*# sourceMappingURL=style.css.map */
