:root {
  /* colors */
  --clr-dark: 0, 0%, 0%;
  --clr-white: 200, 6.7%, 91.2%;
  --clr-grey-light: 210, 4.2%, 46.3%;
  --clr-grey-dark: 220, 12%, 9.8%;
  --clr-blue: 204, 87.6%, 52.7%;
  --clr-green: 160, 100%, 36.5%;
  --clr-pink: 332, 94.9%, 53.5%;
  --clr-navy: 206, 18.2%, 17.3%;
  /* font-sizes */
  --fs-900: 4rem;
  --fs-800: 1.9rem;
  --fs-700: 1.3rem;
  --fs-600: 1.1rem;
  --fs-500: 1rem;
  --fs-400: 0.9rem;
  --fs-300: 0.9rem;
  --fs-200: 0.875rem;
  /* font-families */
  --ff: Helvetica, Arial, sans-serif;
  --scrollbar-color: hsla(0,0%,100%,0.25);
  --scrollbar-bg: transparent;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

/* colors */
.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.bg-navy {
  background-color: hsl(var(--clr-navy));
}

.bg-blue {
  background-color: hsl(var(--clr-blue));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-light {
  color: hsl(var(--clr-grey-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

.text-blue {
  color: hsl(var(--clr-blue));
}

/* typography */
.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.fw-700 {
  font-weight: 700;
}

.fw-400 {
  font-weight: 400;
}

.ls-1-3 {
  letter-spacing: 1.3px;
}

.ls-0-7 {
  letter-spacing: 0.7px;
}

.lh-1-3 {
  line-height: 1.3;
}

/* -------- CSS reset ------------- */
/* https://piccalil.li/blog/a-modern-css-reset --> example of resets */
/* box sizing and reset margins */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* set up the body */
body {
  box-sizing: border-box;
  line-height: 1.5;
  min-height: 100vh;
  position: absolute;
  width: 100%;
  scrollbar-color: #3e4144 #16181c;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: var(--scrollbar-bg, auto);
}

::-webkit-scrollbar-corner {
  background-color: var(--scrollbar-bg, auto);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 2px auto;
  border: 2px solid var(--scrollbar-bg, auto);
  background: var(--scrollbar-color);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: hsl(var(--clr-white));
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* make img easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: var(--ff);
  color: hsl(var(--clr-white));
}

.abo {
  background: black;
  color: white;
  width: min-content;
}
.abo:hover {
  background: white;
  color: black;
}

.noabo {
  background: white;
  color: black;
  width: min-content;
}

.abo, .noabo {
  cursor: pointer;
}

.tweet-btn {
  display: grid;
  height: 50px;
  justify-items: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 0 3px hsl(var(--clr-blue), 0.5);
}
.tweet-btn:hover {
  background: hsl(var(--clr-blue), 0.9);
}
.tweet-btn i {
  display: none;
}
@media (max-width: 1200px) {
  .tweet-btn p {
    display: none;
  }
  .tweet-btn i {
    display: block;
  }
}
@media (max-width: 500px) {
  .tweet-btn {
    margin-top: 0;
    height: 35px;
    aspect-ratio: 1;
  }
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: hsl(var(--clr-grey-dark), 0.8);
}
.modal__close {
  cursor: pointer;
  display: grid;
  align-content: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.modal__close svg {
  width: 20px;
  height: 20px;
}
.modal__close:hover {
  background-color: hsl(var(--clr-grey-dark), 0.8);
}
.modal__content {
  background-color: hsl(var(--clr-dark));
  border-radius: 20px;
  margin: 8% auto;
  padding: 20px;
  max-width: 800px;
}
@media (max-width: 768px) {
  .modal {
    background-color: hsl(var(--clr-dark), 1);
  }
  .modal__content {
    border-radius: 0;
    margin: 0 0;
    padding: 0;
    width: 100%;
  }
}

.modal-comment .tweet {
  margin-bottom: 15px;
}
.modal-comment .tweet__left {
  position: relative;
}
.modal-comment .tweet__left::after {
  content: "";
  position: absolute;
  bottom: -12px;
  top: 50px;
  right: 50%;
  width: 2px;
  background-color: hsl(var(--clr-grey-light), 1);
}
.modal-comment .tweet__right__header {
  justify-content: flex-start;
}
.modal-comment .tweet__right__header__names > * {
  max-height: 25px;
  max-width: 28ch;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 768px) {
  .modal-comment .tweet__right__header__names > * {
    max-width: 20ch;
  }
}
@media (max-width: 576px) {
  .modal-comment .tweet__right__header__names > * {
    max-width: 17ch;
  }
}
@media (max-width: 500px) {
  .modal-comment .tweet__right__header__names > * {
    max-width: 9ch;
  }
}
@media (max-width: 390px) {
  .modal-comment .tweet__right__header__names > * {
    max-width: 6ch;
  }
}
.modal-comment .tweet__right__header__date {
  max-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.tweet__container {
  border-bottom: 1px solid hsl(var(--clr-grey-light));
  padding-block: 10px;
}

.tweet__retweet {
  width: max-content;
}
.tweet__retweet:hover p {
  text-decoration: underline;
}
.tweet__left {
  min-width: max-content;
  height: max-content;
}
.tweet__right {
  flex: 1 1 auto;
  max-width: 85%;
}
.tweet__right__header {
  --gap: 0.5rem;
  justify-content: space-between;
}
.tweet__right__header__names > * {
  max-height: 25px;
  max-width: 16ch;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 576px) {
  .tweet__right__header__names > * {
    max-width: 11ch;
  }
}
@media (max-width: 500px) {
  .tweet__right__header__names > * {
    max-width: 8ch;
  }
}
@media (max-width: 350px) {
  .tweet__right__header__names > * {
    max-width: 6ch;
  }
}
.tweet__right__header__date {
  max-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.tweet__right__bot {
  --gap: 20%;
}
.tweet__content {
  padding-top: 10px;
  padding-bottom: 15px;
}
.tweet__content a {
  color: hsl(var(--clr-blue));
}
.tweet__content a:hover {
  text-decoration: underline;
}
.tweet__response-to a {
  color: hsl(var(--clr-blue));
}
.tweet__response-to a:hover {
  text-decoration: underline;
}
.tweet__opt {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.tweet__opt__btn {
  width: 25px;
  height: 25px;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.tweet__opt__btn svg {
  width: 17px;
  height: 17px;
}
.tweet__opt__btn:hover {
  background-color: hsl(var(--clr-blue), 0.2);
  border-radius: 50%;
}
.tweet__opt__btn:hover path {
  fill: hsl(var(--clr-blue));
}
.tweet__opt p {
  position: relative;
  transform: translateX(calc(-100% + 25px));
  background-color: hsl(var(--clr-dark));
  box-shadow: 0 0 5px hsl(var(--clr-white), 0.5);
  border-radius: 5px;
  padding: 5px 10px;
  width: 15ch;
}
.tweet__opt p:hover::before {
  content: "";
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(var(--clr-grey-light), 0.1);
}
.tweet__reacts {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.tweet__reacts__btn {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.tweet__reacts__btn .tweet__retweet {
  --gap: 0.8rem;
  align-items: center;
  justify-content: center;
}
.tweet__reacts__btn .tweet__retweet div {
  display: grid;
  align-content: center;
  justify-content: center;
}
.tweet__reacts__btn .tweet__retweet:hover div {
  position: relative;
}
.tweet__reacts__btn .tweet__retweet:hover div i {
  color: hsl(var(--clr-green));
}
.tweet__reacts__btn .tweet__retweet:hover div::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(1.8);
  border-radius: 50%;
  background-color: hsl(var(--clr-green), 0.2);
}
.tweet__reacts__btn .tweet__retweet:hover p {
  color: hsl(var(--clr-green));
  text-decoration: none;
}
.tweet__reacts__content {
  transform: translateX(calc(-100% + 40px));
  background-color: hsl(var(--clr-dark));
  box-shadow: 0 0 5px hsl(var(--clr-white), 0.5);
  border-radius: 5px;
  width: 25ch;
}
.tweet__reacts__content div {
  align-items: center;
  border-radius: 5px;
  padding: 5px 10px;
  position: relative;
}
.tweet__reacts__content div:hover::before {
  content: "";
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(var(--clr-grey-light), 0.1);
}
.tweet__comments {
  position: relative;
  z-index: 1;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  --gap: 0.8rem;
}
.tweet__comments div {
  display: grid;
  align-content: center;
  justify-content: center;
}
.tweet__comments:hover div {
  position: relative;
}
.tweet__comments:hover div i {
  color: hsl(var(--clr-blue));
}
.tweet__comments:hover div::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleY(1.8) scaleX(2.2);
  border-radius: 50%;
  background-color: hsl(var(--clr-blue), 0.2);
}
.tweet__comments:hover p {
  color: hsl(var(--clr-blue));
  text-decoration: none;
}
.tweet__like {
  cursor: pointer;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: center;
  --gap: 0.8rem;
}
.tweet__like div {
  display: grid;
  align-content: center;
  justify-content: center;
}
.tweet__like:hover div {
  position: relative;
}
.tweet__like:hover div i {
  color: hsl(var(--clr-pink));
}
.tweet__like:hover div::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleY(1.8) scaleX(2.2);
  border-radius: 50%;
  background-color: hsl(var(--clr-pink), 0.2);
}
.tweet__like:hover p {
  color: hsl(var(--clr-pink));
  text-decoration: none;
}
.tweet__like[liked="1"] {
  color: hsl(var(--clr-pink));
}
.tweet__retweet[retweeted="1"] {
  color: hsl(var(--clr-green));
}
.tweet__link:hover::before {
  position: absolute;
  content: "";
  top: 0px;
  right: 15px;
  left: -15px;
  bottom: 0px;
  background-color: hsl(var(--clr-grey-light), 0.1);
}

.quoted {
  border: 1px solid hsl(var(--clr-grey-light));
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
}
.quoted__container {
  position: relative;
}
.quoted__link:hover::before {
  position: absolute;
  content: "";
  top: -10px;
  right: -10px;
  left: -10px;
  bottom: -10px;
  border-radius: 10px;
  background-color: hsl(var(--clr-grey-light), 0.1);
}
.quoted__top {
  --gap: 0.5rem;
}
.quoted__top__names > * {
  max-height: 25px;
  max-width: 15ch;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 576px) {
  .quoted__top__names > * {
    max-width: 11ch;
  }
}
@media (max-width: 500px) {
  .quoted__top__names > * {
    max-width: 8ch;
  }
}
@media (max-width: 380px) {
  .quoted__top__names > * {
    max-width: 6ch;
  }
}
.quoted__top__date {
  max-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.tweet-profile {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.quoted-profile {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.tweet-img {
  border-radius: 10px;
}

.contenteditable {
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  border: none;
  resize: none;
  height: 110px;
  overflow: auto;
  padding: 5px;
  max-width: 100%;
  font-size: var(--fs-700);
}
.contenteditable:focus {
  border: none;
  outline: none;
}

.contenteditable:empty:before {
  content: attr(data-placeholder);
  color: hsl(var(--clr-grey-light));
}

.mentions {
  color: hsl(var(--clr-blue));
}

.text-mentions {
  background: black;
  display: none;
  box-shadow: 0 0 15px hsl(var(--clr-grey-light));
  max-height: 500px;
  overflow: auto;
}
.text-mentions .mention-prop {
  padding: 1rem 1rem;
  cursor: pointer;
}
.text-mentions .mention-prop img {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
.text-mentions .mention-prop:hover {
  background: hsl(var(--clr-grey-dark));
}

.preview {
  position: relative;
}
.preview .close-preview {
  display: none;
  width: 30px;
  height: 30px;
  background: hsl(var(--clr-grey-dark), 0.8);
  backdrop-filter: blur(12px);
  border-radius: 15px;
  position: absolute;
  align-content: center;
  justify-content: center;
  left: 10px;
  top: 10px;
  cursor: pointer;
}
.preview .close-preview svg {
  width: 18px;
  height: 18px;
}
.preview .preview-input {
  display: none;
  border-radius: 15px;
}

.input-img {
  display: none;
}

.post-botom {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.post-botom .img-icon {
  cursor: pointer;
  margin-right: auto;
}
.post-botom .count-text {
  margin-right: 15px;
}
.post-botom .tweet-btn {
  height: 36px;
  border-radius: 18px;
  width: 90px;
}

.post-tweet__container {
  border-bottom: 1px solid hsl(var(--clr-grey-light));
}
.post-tweet__right {
  width: 90%;
}
.post-tweet__right__top {
  border-bottom: 1px solid hsl(var(--clr-grey-light));
  width: 100%;
}
.post-tweet__right__top .contenteditable {
  height: 110px;
  margin-bottom: 10px;
}
.post-tweet__right__top .preview-input {
  margin-bottom: 10px;
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  max-width: 250px;
}
.nav a {
  height: 50px;
  width: min-content;
  align-items: center;
  padding: 5px 15px;
}
.nav a div {
  height: 100%;
  display: grid;
  align-content: center;
}
@media (max-width: 1200px) {
  .nav a div {
    display: none;
  }
}
.nav a:hover {
  border-radius: 25px;
  background-color: hsl(var(--clr-white), 0.1);
}
.nav svg {
  width: 26px;
  height: 26px;
}
@media (max-width: 500px) {
  .nav svg {
    width: 18px;
    height: 18px;
  }
}
@media (max-width: 500px) {
  .nav {
    flex-direction: row;
    padding-block: 3px;
    --gap: 0;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    z-index: 3;
    width: 100%;
    max-width: 100%;
    background-color: hsl(var(--clr-dark));
  }
  .nav a {
    height: 18px;
    --gap: 0;
    margin-top: 0;
    justify-items: center;
    padding: 0;
  }
}

.connected-page {
  background: hsl(var(--clr-dark));
}
.connected-page__container {
  height: 100%;
  max-width: 1200px;
  padding-inline: 1%;
  margin-inline: auto;
}
@media (max-width: 1200px) {
  .connected-page__container {
    max-width: 800px;
  }
}
@media (max-width: 500px) {
  .connected-page__container {
    padding-inline: 0;
  }
}

.homeContainer {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  border: 1px solid hsl(var(--clr-grey-light));
  border-top: 0;
  border-bottom: 0;
}
.homeContainer > * {
  padding-inline: 15px;
}
.homeContainer .page-title {
  position: sticky;
  padding-block: 15px;
  top: 0px;
  z-index: 3;
  width: 100%;
  background: hsl(var(--clr-dark), 0.8);
  backdrop-filter: blur(12px);
}
@media (max-width: 768px) {
  .homeContainer {
    margin-left: 60px;
  }
}
@media (max-width: 500px) {
  .homeContainer {
    margin-inline: auto;
  }
}

.reload-page {
  display: grid;
  justify-content: center;
  align-content: center;
  padding-block: 10px;
  border-bottom: 1px solid hsl(var(--clr-grey-light));
}

.profile-img {
  width: 100px;
  height: 100px;
}

.cover-img {
  width: 300px;
  height: 50px;
}

/*.modal{
    form{
        display : flex;
        flex-direction: column;
    }
}*/
.label-input {
  display: block;
  width: 45%;
  height: 45px;
  margin-left: 25%;
  line-height: 50px;
  text-align: center;
  background: #1172c2;
  color: #fff;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  text-transform: Uppercase;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.start {
  --gap: 0;
  width: 100vw;
  flex-direction: column-reverse;
}
@media (min-width: 992px) {
  .start {
    flex-direction: row;
    height: 100vh;
  }
}
.start .content {
  flex: 1 1 0%;
  min-width: 792px;
  background: hsl(var(--clr-dark));
  padding: min(3%, 5rem);
}
.start .content .logo svg {
  max-width: 43px;
}
.start .content .title {
  max-width: 15ch;
}
.start .content p {
  margin-block: 2rem;
}
.start .cover {
  display: flex;
  justify-content: center;
  flex: 1 1 0%;
  background: url("../img/lohp_1302x955.png");
  background-size: cover;
}
.start .cover svg {
  max-width: 360px;
}

.start-buton {
  display: grid;
  width: 300px;
  height: 40px;
  justify-items: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 5px hsl(var(--clr-blue), 0.5);
}
.start-buton--black {
  border: 1px solid hsl(var(--clr-grey-light));
  box-shadow: none;
  position: relative;
}
.start-buton--black:hover {
  background: hsl(var(--clr-blue), 0.2);
}
.start-buton--black:hover div {
  z-index: 2;
}
.start-buton--black:hover::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 20px;
  background: hsl(var(--clr-dark), 0.8);
}
.start-buton:hover {
  background: hsl(var(--clr-blue), 0.9);
}

.sign-page {
  height: 100vh;
  width: 100vw;
  padding-top: 15vh;
}
@media (max-width: 576px) {
  .sign-page {
    padding-top: 0;
  }
}

.sign-card {
  max-width: 600px;
  border-radius: 20px;
  max-height: 80vh;
  overflow-y: auto;
  margin-inline: auto;
}
.sign-card__topside {
  display: flex;
  padding: 10px 15px;
  margin-bottom: 1rem;
  width: 100%;
  justify-content: flex-start;
}
.sign-card__topside > * {
  display: grid;
  width: 50%;
}
.sign-card__topside > * path {
  fill: hsl(var(--clr-white), 0.9);
}
.sign-card__topside .back svg {
  width: 20px;
}
.sign-card__topside .logo {
  position: relative;
  transform: translateX(-15px);
}
.sign-card__topside .logo svg {
  width: 31px;
}
@media (max-width: 576px) {
  .sign-card {
    max-height: 100vh;
    height: 100%;
    border-radius: 0;
  }
}

.sign-form {
  display: flex;
  flex-direction: column;
}
.sign-form > * {
  width: 300px;
  margin: auto;
}
.sign-form > *:where(:not(:first-child)) {
  margin-top: 0.8rem;
}

.sign-buton {
  display: grid;
  height: 34px;
  justify-items: center;
  align-items: center;
  border-radius: 20px;
  border: none;
  margin-top: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.sign-input {
  color: hsl(var(--clr-white), 0.9);
  border: 1px solid hsl(var(--clr-grey-light), 0.5);
  border-radius: 5px;
  height: 56px;
  padding-inline: 8px;
}
.sign-input:focus {
  border: 1px solid hsl(var(--clr-blue), 0.8);
  outline: solid 2px hsl(var(--clr-blue), 0.8);
}

.sign-redirect {
  margin-bottom: 3rem;
}

/*# sourceMappingURL=style.css.map */
