
.tweet-btn{
    display : grid;
    height : 50px;
    justify-items: center;
    align-items: center;
    border: 0;
    cursor : pointer;
    border-radius: 25px;
    box-shadow: 0 0 3px hsl(var(--clr-blue),.5);
    &:hover{
        background : hsl(var(--clr-blue),.9);
    }
    i{
        display : none;
    }
    @media(max-width:$screen-xl-min){
        p{
            display : none;
        }
        i{
            display : block;
        }
    }
    @media(max-width:500px){
        margin-top: 0;
        height : 35px;
        aspect-ratio: 1;
    }
}

.basic-btn{
    cursor : pointer;
    display : grid;
    height : 36px;
    justify-items: center;
    align-items: center;
    border: 1px solid hsl(var(--clr-grey-light));
    cursor : pointer;
    border-radius: 18px;
    padding: 0 16px;
    background-color: hsl(var(--clr-dark));
    color : hsl(var(--clr-white));
    &:hover{
        background : hsl(var(--clr-white),.1);
    }
    &--white{
        background-color: hsl(var(--clr-white));
        color : hsl(var(--clr-dark));
        border-radius: none;
        &:hover{
            background : hsl(var(--clr-white),.9);
        }
    }
}