.contenteditable {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border : none;
    resize :none;
    height: 110px;
    overflow: auto;
    padding: 5px;
    max-width: 100%;
    font-size: var(--fs-700);
    &:focus{
        border:none;
        outline : none;
    }
}

.contenteditable:empty:before{
    content : attr(data-placeholder);
    color : hsl(var(--clr-grey-light));
}

.mentions{
    color : hsl(var(--clr-blue));
}

.text-mentions{
    &__container{
        display: none;
    }
    background : black;
    width : max-content;
    border-radius: 10px;
    box-shadow: 0 0 15px hsl(var(--clr-grey-light));
    max-height : 500px;
    overflow: auto;
    .mention-prop{
        padding : 1rem 1rem;
        cursor: pointer;
        .mention-img{
            &__container{
                height :40px;
                width :40px;
                border-radius: 20px;
                overflow: hidden;
            }
            width : 100%;
            height : 100%;
            object-fit: cover;
            
        }
        &:hover{
            background: hsl(var(--clr-grey-dark));
        }
       

    }
}