.page-switch{
    --gap :0;
    justify-content: space-evenly;
    .active p{
        display: grid;
        align-content: center;
        justify-content: center;
        height : 53px;
        color : hsl(var(--clr-white));
        font-weight: 700;
        border-bottom: 3px solid hsl(var(--clr-blue));
    }
    a{
        height : 53px;
        display: grid;
        align-content: center;
        justify-content: center;
        flex : 1 1 auto;
        border-bottom : 1px solid hsl(var(--clr-grey-light));
        &:hover{
            background-color: hsl(var(--clr-grey-dark));
        }
    }
}