// number count, open preview image and Tweet/Comment/Quote button
.post-botom{
    height : 60px;
    display : flex;
    justify-content: flex-end;
    align-items: center;
    .img-icon{
        cursor: pointer;
        margin-right: auto;
    }
    .count-text{
        margin-right: 15px ;
    }
    .tweet-btn{
        height : 36px;
        border-radius: 18px;
        width : 90px;

    }
}


.post-tweet{
    &__container{
        border-bottom : 1px solid hsl(var(--clr-grey-light));
    }
    &__left{
        flex: 0 0 auto;
    }
    &__right{
        flex :1 1 auto;
        max-width: calc(95% - 50px);
        @media(max-width:500px){
            max-width: calc(90% - 50px);
        }
        &__top{
            border-bottom : 1px solid hsl(var(--clr-grey-light));
            width : 100%;
            
            .contenteditable{
                height: 110px;
                margin-bottom : 10px;
            }
            .preview-input{
                margin-bottom: 10px;
            }
        }
    }
}




