// number count, open preview image and Tweet/Comment/Quote button

.post-botom{
    height : 60px;
    display : flex;
    justify-content: flex-end;
    align-items: center;
    .img-icon{
        cursor: pointer;
        margin-right: auto;
    }
    .count-text{
        margin-right: 15px ;
    }
    .tweet-btn{
        height : 36px;
        border-radius: 18px;
        width : 90px;

    }
}





