.postTweet{
    border : 1px solid black;
    form{
        .img-icon{
            color : blue;
            cursor: pointer;
        }
        #tweet-img{
            display :none;
        }
        .img-tweet-preview{
            display : none;
        }
        .close-preview{
            display : none;
        }
    }
}