.postTweet{
    border : 1px solid black;
    form{
        .img-icon{
            color : blue;
            cursor: pointer;
        }
        #tweet-img{
            display :none;
        }
        .img-tweet-preview{
            display : none;
        }
        .close-preview{
            display : none;
        }
    }
}

.tweet{
    border : 1px solid black;
   
    &__opt{
        &__btn{
            position : relative;
            z-index : 2;
        }
        display : none;   
        position : absolute; 
        top : 0;
        left : 0;
        z-index: 3;
        background-color: white;
        border : 1px solid red;
    }
    &__reacts{
        &__btn{
            position : relative;
            z-index : 2;
        }
        display : none;   
        position : absolute; 
        top : 0;
        left : 0;
        z-index: 3;
        background-color: white;
        border : 1px solid red;
    }
    &__comments{
        position : relative;
        z-index : 1;
    }
    &__like{
        position : relative;
        z-index : 1;
    }

    &__like[liked = "1"]{
        color : red;
    }
    &__retweet[retweeted = "1"]{
        color : green;
    }
}