.homeContainer{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
    margin-top: 5em;
    height : 2000px;
}

.text-mentions{
    background : grey;
    display : none;
}
