.post-tweet{
    border-bottom : 1px solid hsl(var(--clr-grey-light));
    &__right{
        &__top{
            width: 500px;
            border-bottom : 1px solid hsl(var(--clr-grey-light));
            .contenteditable{
                height: 110px;
                margin-bottom : 10px;
            }
            .preview-input{
                margin-bottom: 10px;
            }
        }
    }
}





