.profile{
    &__cover{
        height : 120px;
        width : 100%;
        img{
            width :100%;
            height :100%;
            object-fit: cover;
        }
    }
    &__profile{
        justify-content: space-between;
        align-items: center;
        &__img{
           height : 133px;
           width : 133px;
           border-radius: 50%;
           overflow: hidden;
           border : 2px solid hsl(var(--clr-dark));
           margin-top: -45px;
           img{
               width :100%;
               height :100%;
               object-fit: cover;
           }
        } 
    }
    &__core{
        &__name{
            margin-block :20px;
            overflow: hidden;
            p{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        &__bio{
            margin-bottom: 15px;
        }
        &__abos{
            margin-bottom: 15px;
            p:hover{
                text-decoration: underline;
            }
        }
    }

}

.profile-modal{
    @media(max-width:$screen-md-min){
        padding: 15px;
    }
    &__header{
        justify-content: space-between;
    }
    &__cover{
        width :100%;
        height : 180px;
        position: relative;
        overflow: hidden;
        img{
            width :100%;
            height : 100%;
            object-fit: cover;
        }
    }
    &__profile{
        width :140px;
        height : 140px;
        position: relative;
        overflow: hidden;
        border :2px solid hsl(var(--clr-grey-dark));
        border-radius: 50%;
        margin-top: -50px;
        margin-bottom: 15px;
        img{
            width :100%;
            height : 100%;
            object-fit: cover;
        }
    }
    &__label{
        position : absolute;
        display : grid;
        align-content: center;
        justify-content: center;
        top: 50%;
        right :50%;
        transform: translateX(50%) translateY(-50%);     
        width : 42px;
        height :42px;
        border-radius:50%;
        background : hsl(var(--clr-grey-dark),.8);
        cursor:pointer;
        svg{
            width : 22px;
            height :22px;
        }
    }
    &__inputs{
        flex-direction: column;
        input,textarea{
            color: hsl(var(--clr-white),0.9);
            border : 1px solid hsl(var(--clr-grey-light),0.5);
            background-color: hsl(var(--clr-dark));
            border-radius : 5px;
            height : 56px;
            padding-inline : 8px;
            &:focus{
                border : 1px solid hsl(var(--clr-blue),0.8);
                outline: solid 2px hsl(var(--clr-blue),0.8);;
            }
        }
        .bio{
            height : 150px;
            padding-block: 8px;
        }
    }
}




