.settings{
    padding-block: 20px;
    flex-direction: column;
    input{
        background: none;
        border: 1px solid hsl(var(--clr-grey-light));
        padding: 8px;
        border-radius: 5px;
        color : hsl(var(--clr-white));
        &:focus{
            outline: 1px solid hsl(var(--clr-blue));
            border: 1px solid hsl(var(--clr-blue));
        }
    }
    .basic-btn{
        width : 50%;
        min-width: max-content;
        align-self: center;
    }

}