.start{
    --gap : 0;
    flex-direction: column-reverse;
    min-width : 100vw;
    min-height : 100vh;
    max-width: 100vw;
    @media(min-width:$screen-lg-min){
        flex-direction: row;
       
    }
    .content{
        display : flex;
        flex-direction: column;
        flex : 1 1 0%;
        @media(min-width:$screen-lg-min){
            min-width : 792px;
        }
        
        background : hsl(var(--clr-dark));
        padding : min(3%,5rem);
        .logo svg{
            max-width : 43px;
        }
        .title{
            max-width: 15ch;
        }
        p{
            @media(max-width:$screen-md-min){
                text-align : center;
                align-self: center;
            }
            margin-block : 1rem;
        }
    }
    .cover{
        display : flex;
        justify-content: center;
        
        flex: 1 1 0%;
        background : url('../img/lohp_1302x955.png');
        background-size: cover;
        svg{
            max-width : 90%;
            width : 360px;
            @media(max-width:$screen-md-min){
                max-width : 70%;
            }
        }   
    } 
}

.start-buton{
    display : grid;
    width : 200px;
    margin-bottom: 1rem;
    align-self: center;
    @media(min-width:$screen-md-min){
        width : 300px;
        align-self: auto;
    }
    height : 40px;
    justify-items: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 5px hsl(var(--clr-blue),.5);
    &--black{
        border :1px solid hsl(var(--clr-grey-light));
        box-shadow: none;
        position : relative;
        &:hover{
            background : hsl(var(--clr-blue),0.2);
            div{
                z-index : 2;
            }
            &::after{
                content: "";
                position: absolute;
                top: 0; bottom: 0; left: 0; right: 0; 
                z-index : 1;
                border-radius: 20px;
                background: hsl(var(--clr-dark),.8);
            }
        }
    }
    &:hover{
        background : hsl(var(--clr-blue),.9);
    }
}